.gallery {
    padding-top: 180px;
    padding-bottom: 150px;
    &__list {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 285px);
        grid-template-rows: repeat(2, 214px);
        margin-bottom: 60px;
    }
    &__item {
        &:nth-child(1) {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
        }
    }
    &__img {
    }
    &__btn {
        text-align: center;
    }
}

.gallery-btn {
    padding: 16px 57px;
}
