$fs-main-title: 80px;
$fs-main-subtitle: 18px;
$fs-main-text: 18px;
$fs-section-title: 44px;
$fs-section-subtitle: 18px;
$fs-section-what-subtitle: 22px;
$fs-nav-link: 14px;
$fs-btn-text: 14px;
$fs-city-link: 15px;
$fs-section-news-title: 22px;
$fs-section-news-user-name: 18px;
$fs-section-news-user-date: 14px;
$fs-forma: 18px;
$fs-footer-copyrights: 14px;
